﻿@model IEnumerable<DateTime>

@if (Model.Any())
{
    <h5 id="appointmentEstimator">Your Estimator, <b>@ViewData["estimator"]</b>, has these times as the next available:</h5>
    <br />
    foreach (DateTime appointmentTime in Model)
    {
        <div class="form-group">
            <a class="btn btn-primary center-block" role="button" data-toggle="confirmation" data-appointment="@appointmentTime.ToString("yyyy'-'MM'-'dd'T'HH':'mm':'ss")">@appointmentTime.ToString("dddd, MMMM dd") <b>@appointmentTime.ToString("h:mm tt")</b> MST</a>
        </div>
    }
}
else
{
    <h4 class="text-center">There are no available appointments for the selected date</h4>
}
    <script>
    $(document).find('[data-toggle=confirmation]').confirmation({
        rootSelector: '[data-toggle=confirmation]',
        singleton: true,
        popout: true,
        placement: "top",
        title: "Are you sure you want to book this timeslot?",
        btnOkClass: "btn-sm btn-success",
        btnCancelClass: "btn-sm btn-default",
        onConfirm: function () {
            // Get zip info
            var zipCheckInfo = store.get('zipInfo');
            zipCheckInfo = JSON.parse(zipCheckInfo);

            // Get estimator info
            var estimatorInfo = store.get('estimatorInfo');
            estimatorInfo = JSON.parse(estimatorInfo);

            // Gather info
            var appointmentInfo = {
                Steps: store.get('steps'),
                OrigZipHouse: $('#form-home-origin').val(),
                DestZipHouse: $('#form-home-destination').val(),
                HouseName: $('#form-house-name').val(),
                HousePhone: $('#form-house-contact-number').val(),
                HouseEmail: $('#form-house-email-address').val(),
                OrigZipApt: $('#form-apartment-origin').val(),
                DestZipApt: $('#form-apartment-destination').val(),
                AptName: $('#form-apt-name').val(),
                AptPhone: $('#form-apt-contact-number').val(),
                AptEmail: $('#form-apt-email-address').val(),
                OriginAddress: $('#form-origin-address').val(),
                DestinationAddress: $('#form-destination-address').val(),
                IntlName: $('#form-intl-name').val(),
                IntlPhone: $('#form-house-intl-number').val(),
                IntlEmail: $('#form-house-intl-address').val(),
                OfficeName: $('#form-office-name').val(),
                OfficeCompanyName: $('#form-office-company').val(),
                OfficePhone: $('#form-office-contact-number').val(),
                OfficeEmail: $('#form-office-email-address').val(),
                OfficeTimeframe: $('#form-office-timeframe').val(),
                OfficeTellAboutProject: $('#form-office-about').val(),
                OtherWarehouseName: $('#form-warehouse-name').val(),
                OtherWarehousePhone: $('#form-warehouse-contact-number').val(),
                OtherWarehouseEmail: $('#form-warehouse-email-address').val(),
                OtherSitName: $('#form-sit-name').val(),
                OtherSitPhone: $('#form-sit-contact-number').val(),
                OtherSitEmail: $('#form-sit-email-address').val(),
                OtherSingleItemName: $('#form-singleitem-name').val(),
                OtherSingleItemPhone: $('#form-singleitem-contact-number').val(),
                OtherSingleItemEmail: $('#form-singleitem-email-address').val(),
                AppointmentDateTime: $(this).data('appointment'),
                OriginCity: zipCheckInfo.originCity,
                OriginState: zipCheckInfo.originState,
                DestinationCity: zipCheckInfo.destinationCity,
                DestinationState: zipCheckInfo.destinationState,
                EstimatorName: estimatorInfo.estimatorName
            };

            // Get calendar date based on type of move selected
            if (appointmentInfo.Steps.split(',')[0] === "House") {
                appointmentInfo.HouseDate = $('#housedatepicker').data("DateTimePicker").date();
            } else {
                appointmentInfo.AptDate = $('#apartmentdatepicker').data("DateTimePicker").date();
            }

            // Handle Homie checkbox
            if (zipCheckInfo.distance < 50) {
                appointmentInfo.HomieChecked = $('#homie-checkbox-local').is(":checked");
            } else {
                appointmentInfo.HomieChecked = $('#homie-checkbox-interstate').is(":checked");
            }

            // Send info to backend
            var posting = $.post('/Home/CollectAppointmentData', JSON.stringify(appointmentInfo));
            // Get current fieldset id
            var fieldsetId = $(this).closest('fieldset').attr('id');

            posting.done(function (data) {
                // Send to thank you page
                $('#' + fieldsetId).fadeOut(400,
                    function () {
                        if ($("#homie-checkbox-local").is(":checked") || $("#homie-checkbox-interstate").is(":checked")) {
                            $('#wellcontactHomie').fadeIn();
                            triggerHomieRedirect();
                        } else {
                            $('#wellcontact').fadeIn();
                        }
                    });
            });

            // Send tracking trigger
            var moveType = store.get('steps').split(',')[0];
            if (moveType === "House") {
                var moveDistance = store.get('housestep3');
                var triggerEventName = moveType + "|" + moveDistance + "|booked-appointment";
                triggerEventName = triggerEventName.replace(" ", "_");
                try {
                    var trackerName = ga.getAll()[0].get('name');
                    ga(trackerName + '.send', 'event', 'Funnel', triggerEventName);
                    gtag_report_conversion();
                } catch (err) {
                    appInsights.trackException(err);
                }
            } else {
                var moveDistance = store.get('apartmentstep3');
                var triggerEventName = moveType + "|"+ moveDistance + "|booked-appointment";
                triggerEventName = triggerEventName.replace(" ", "_");
                try {
                    var trackerName = ga.getAll()[0].get('name');
                    ga(trackerName + '.send', 'event', 'Funnel', triggerEventName);
                    gtag_report_conversion();
                } catch (err) {
                    appInsights.trackException(err);
                }
            }
        }
    });
    </script>