﻿@model WebLeadFunnel.Models.GetInstaQuote.QuoteResult

@if (Model != null)
{

    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="#notmuchTab" data-toggle="pill">Lightly Furnished</a></li>
        <li role="presentation" class="active"><a href="#averageTab" data-toggle="pill">Average Furnishing</a></li>
        <li role="presentation"><a href="#alotTab" data-toggle="pill">Heavy Furnishing</a></li>
    </ul>

    <div class="tab-content">
        <div id="notmuchTab" class="tab-pane fade">
            <h3 class="text-center">$@Model.NotMuch.LowPrice <i class="fas fa-arrows-alt-h" aria-hidden="true"></i> $@Model.NotMuch.HighPrice</h3>
        </div>
        <div id="averageTab" class="tab-pane fade in active">
            <h3 class="text-center">$@Model.Average.LowPrice <i class="fas fa-arrows-alt-h" aria-hidden="true"></i> $@Model.Average.HighPrice</h3>
        </div>
        <div id="alotTab" class="tab-pane fade">
            <h3 class="text-center">$@Model.ALot.LowPrice+</h3>
        </div>
    </div>
    if (Model.NotMuch.LowPrice == "N/A" || Model.NotMuch.HighPrice == "N/A" || Model.Average.LowPrice == "N/A" || Model.Average.HighPrice == "N/A" || Model.ALot.LowPrice == "N/A")
    {
        <p>Values that appear with N/A should be interpreted by a qualified estimator. Please proceed to the next step to continue.</p>
    }
}
else
{
    <span>There was an error when attempting to retrieve a quote, please continue as an estimator will be able to service your request.</span>
}