﻿@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Online Moving Quote - Bailey's Moving";
}

<fieldset id="formstep1">
    <div class="form-top">
       
            <h3 class="text-center">Welcome! Let's get started.</h3>
            
            <div style="position: relative; padding-top: 56.25%;"><iframe src="https://iframe.videodelivery.net/c01e0c6ebde676a5a50368c921bacad8?poster=https%3A%2F%2Fvideodelivery.net%2Fc01e0c6ebde676a5a50368c921bacad8%2Fthumbnails%2Fthumbnail.gif%3Ftime%3D2s%26height%3D270%26duration%3D3s" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"  allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe></div>
            <p class="text-center" style="padding-top:10px"> What kind of move are you looking for?</p>
        
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep2">House</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep2">Apartment</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="officestep2">Office/Industrial</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="otherstep2">Other</button>
        </div>
    </div>
</fieldset>
<fieldset id="housestep2">
    <div class="form-top">
        <div class="form-top-left">
            <p>How many rooms are there in your house?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-home" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep3">1 Bedroom</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep3">2 Bedrooms</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep3">3 Bedrooms</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep3">4+ Bedrooms</button>
        </div>
    </div>
</fieldset>

<fieldset id="housestep3">
    <div class="form-top">
        <div class="form-top-left">
            <p>How far will you be moving?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-truck-moving" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep4">Local (Less than 50 miles)</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep4">In-State (More than 50 miles)</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep4">Out of State (Across State Lines)</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep5">International</button>
        </div>
    </div>
</fieldset>

<fieldset id="housestep4">
    <div class="form-top">
        <div class="form-top-left">
            <p>Where will you be moving?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-map" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-home-origin">Origin Zip Code</label>
            <input type="number" name="form-home-origin" placeholder="Origin Zip Code..." class="form-home-origin form-control" id="form-home-origin" data-validate="zip">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-home-destination">Destination Zip Code</label>
            <input type="number" name="form-home-destination" placeholder="Destination Zip Code..." class="form-home-destination form-control" id="form-home-destination" data-validate="zip">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep5">Continue</button>
        </div>
    </div>
</fieldset>

<fieldset id="housestep5">
    <div class="form-top">
        <div class="form-top-left">
            <p>When will you be moving?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div id="homeLocalAlert" class="alert alert-danger" role="alert">Please be sure to select a date that is more than <b>24 hours</b> in the future</div>
        <div id="homeDifficultiesAlert" class="alert alert-warning" role="alert">There may difficulties servicing this request based on the date selected</div>
        <div id="homeWeekendAlert" class="alert alert-warning" role="alert">Weekend Rates May Apply</div>
        <div class="form-group">
            <div id="housedatepicker"></div>
        </div>
        <div class="form-group">
            <span>If you don't have an exact date, please select a potential date</span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="housestep6">Continue</button>
        </div>
    </div>
</fieldset>

<fieldset id="housestep6">
    <div class="form-top">
        <div class="form-top-left">
            <p>How should we contact you?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-phone" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-name">Name</label>
            <input type="text" name="form-name" placeholder="Your Name..." class="form-name form-control" id="form-house-name">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-contact-number">Contact Number</label>
            <input type="text" name="form-contact-number" placeholder="Phone Number..." class="form-contact-number form-control" id="form-house-contact-number" data-validate="phone">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-email-address">Email Address</label>
            <input type="text" name="form-email-address" placeholder="Email Address..." class="form-email-address form-control" id="form-house-email-address" data-validate="email">
        </div>
        <button type="button" class="btn btn-form" data-next="ballparkorquote">Confirm</button>
    </div>
</fieldset>

<fieldset id="apartmentstep2">
    <div class="form-top">
        <div class="form-top-left">
            <p>How large is your apartment?</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-building" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep3">1 Bedroom</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep3">2 Bedrooms</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep3">3 Bedrooms</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep3">4+ Bedrooms</button>
        </div>
    </div>
</fieldset>

<fieldset id="apartmentstep3">
    <div class="form-top">
        <div class="form-top-left">
            <p>How far will you be moving?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-truck-moving" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep4">Local (Less than 50 miles)</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep4">In-State (More than 50 miles)</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep4">Out of State (Across State Lines)</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep5">International</button>
        </div>
    </div>
</fieldset>

<fieldset id="apartmentstep4">
    <div class="form-top">
        <div class="form-top-left">
            <p>Where will you be moving?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-map" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-apartment-origin">Origin Zip Code</label>
            <input type="number" name="form-apartment-origin" placeholder="Origin Zip Code..." class="form-apartment-origin form-control" id="form-apartment-origin" data-validate="zip">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-apartment-destination">Destination Zip Code</label>
            <input type="number" name="form-apartment-destination" placeholder="Destination Zip Code..." class="form-apartment-destination form-control" id="form-apartment-destination" data-validate="zip">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep5">Continue</button>
        </div>
    </div>
</fieldset>

<fieldset id="apartmentstep5">
    <div class="form-top">
        <div class="form-top-left">
            <p>When will you be moving?</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div id="apartmentLocalAlert" class="alert alert-danger" role="alert">Please be sure to select a date that is more than <b>24 hours</b> in the future</div>
        <div id="apartmentDifficultiesAlert" class="alert alert-warning" role="alert">There may difficulties servicing this request based on the date selected</div>
        <div id="apartmentWeekendAlert" class="alert alert-warning" role="alert">Weekend Rates May Apply</div>
        <div class="form-group">
            <div id="apartmentdatepicker"></div>
        </div>
        <div class="form-group">
            <span>If you don't have an exact date, please select a potential date</span>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="apartmentstep6">Continue</button>
        </div>
    </div>
</fieldset>

<fieldset id="apartmentstep6">
    <div class="form-top">
        <div class="form-top-left">
            <p>How should we contact you?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-phone" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-apt-name">Name</label>
            <input type="text" name="form-apt-name" placeholder="Your Name..." class="form-control" id="form-apt-name">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-apt-contact-number">Contact Number</label>
            <input type="text" name="form-apt-contact-number" placeholder="Phone Number..." class="form-control" id="form-apt-contact-number" data-validate="phone">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-apt-email-address">Email Address</label>
            <input type="text" name="form-apt-email-address" placeholder="Email Address..." class="form-control" id="form-apt-email-address" data-validate="email">
        </div>
        <button type="submit" class="btn btn-form" data-next="ballparkorquote">Confirm</button>
    </div>
</fieldset>

<fieldset id="localballpark">
    <div class="form-top">
        <div class="form-top-left">
            <p>Estimating your local move</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-truck-moving" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label for="form-local-bedroom-count"># of Bedrooms:</label>
            <input type="number" name="form-local-bedroom-count" placeholder="Number of Bedrooms..." class="form-control" id="form-local-bedroom-count" min="1">
        </div>
        <div class="form-group">
            <label for="form-local-bathroom-count"># of Bathrooms:</label>
            <input type="number" name="form-local-bathroom-count" placeholder="Number of Bathrooms..." class="form-control" id="form-local-bathroom-count" min="0">
        </div>
        <div class="form-group">
            <label>Other Rooms:</label>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Attic
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Basement
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Dining Room
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Family Room
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Laundry
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Library
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Living Room
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Office
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Storage Room
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" class="localCheckboxGroup"> Walk-in Pantry
                </label>
            </div>
            <div class="checkbox">
                <label>
                    <input type="checkbox" id="local-other-rooms-checkbox" class="localCheckboxGroup"> # of Other Rooms:
                </label>
                <input type="number" min="0" id="local-other-rooms-num" disabled>
            </div>
        </div>
        <div class="form-group">
            <label for="form-local-total-room-count">Total Room Count:</label>
            <input type="number" name="form-local-total-room-count" class="form-control" id="form-local-total-room-count" disabled>
        </div>
        <button type="submit" class="btn btn-form" data-next="localballparkresults">Get Local Quote</button>
    </div>
</fieldset>

<fieldset id="localballparkresults">
    <div class="form-top">
        <div class="form-top-left">
            <p>Ballpark estimates are based on transportation only, packing not included. Please choose your amount of furnishings below:</p>
        </div>
        <div class="form-top-right" id="testlocaltrigger">
            <i class="fas fa-arrows-alt-h" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <div id="localEstimationSpinner">
                <img class="center-block" src="/images/ajax-loader.gif" style="width: 1.5em;" />
                <p class="text-center" id="localEstimationSpinnerDescription">Please wait while we retrieve your quote.</p>
            </div>
            <div id="localEstimationInfo"></div>
        </div>
        <span style="color: black;">
            <strong style="color: red;font-weight: 600;">NOTE:</strong> Ballpark estimates are based on historical averages and limited information which can vary greatly based on actual circumstance, for firm pricing an <strong style="font-weight: 700;">exact quote</strong> is required.
        </span>
        <div class="form-group" style="padding-top: 25px;">

                <div id="homie-text-local">
                    <p><strong style="font-weight: 600;padding-top:25px;text-align:center">Are you interested in getting your move paid for by Homie?</strong></p>
                    <p>Customers who use Homie for real estate are eligible to get paid moving expenses. Use Homie Real Estate and Homie Loans to buy a home and receive up to $2,500 in moving services with Bailey's Moving & Storage.</p>
                </div>
            <a type="button" class="btn homie_c2a btn-form" id="homie-button-local">
            <input id="homie-checkbox-local" type="checkbox" style="height: 1.5em;width: 1.5em;vertical-align: middle;margin-bottom: 5px;">
               Yes! I want information about <img class="homie_svg" src="/images/Homie-Logo-White.svg" alt="Homie Logo"/>
            </a>
            <button type="button" style="margin-top:20px;" class="btn btn-form" data-next="gatherAddress">
                Proceed to an exact quote
            </button>

        </div>
    </div>
</fieldset>

<fieldset id="intlcontact" data-contactformname="International">
    <div class="form-top">
        <div class="form-top-left">
            <p>How should we contact you about your International Move?</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-phone" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-name">Name</label>
            <input type="text" name="form-name" placeholder="Your Name..." class="form-name form-control" id="form-intl-name">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-contact-number">Contact Number</label>
            <input type="text" name="form-contact-number" placeholder="Phone Number..." class="form-contact-number form-control" id="form-house-intl-number" data-validate="phone">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-email-address">Email Address</label>
            <input type="text" name="form-email-address" placeholder="Email Address..." class="form-email-address form-control" id="form-house-intl-address" data-validate="email">
        </div>
        <button type="button" class="btn btn-form" data-next="wellcontact" id="intlcontactconfirm">Confirm</button>
    </div>
</fieldset>

<fieldset id="officestep2">
    <div class="form-top">
        <div class="form-top-left">
            <p>How many employees are there in your office?</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-building" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="officecontact">1-25 Employees</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="officecontact">25-50 Employees</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="officecontact">50+ Employees</button>
        </div>
    </div>
</fieldset>

<fieldset id="officecontact" data-contactformname="Office">
    <div class="form-top">
        <div class="form-top-left">
            <p>We will contact you</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-building" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-office-name">Name</label>
            <input type="text" name="form-office-name" placeholder="Your Name..." class="form-office-name form-control" id="form-office-name">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-office-company">Company</label>
            <input type="text" name="form-office-company" placeholder="Company Name..." class="form-office-company form-control" id="form-office-company">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-office-contact-number">Contact Number</label>
            <input type="text" name="form-office-contact-number" placeholder="Phone Number..." class="form-office-contact-number form-control" id="form-office-contact-number" data-validate="phone">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-office-email-address">Email Address</label>
            <input type="text" name="form-office-email-address" placeholder="Email Address..." class="form-office-email-address form-control" id="form-office-email-address" data-validate="email">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-office-timeframe">Timeframe</label>
            <input type="text" name="form-office-timeframe" placeholder="What kind of timeframe..." class="form-office-timeframe form-control" id="form-office-timeframe">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-office-about">Tell us about your project</label>
            <textarea name="form-office-about" placeholder="Tell us about your project..." class="form-office-about form-control" id="form-office-about"></textarea>
        </div>
        <button type="submit" class="btn btn-form" data-next="wellcontact">Confirm</button>
    </div>
</fieldset>

<fieldset id="otherstep2">
    <div class="form-top">
        <div class="form-top-left">
            <p>What else can we do for you?</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-compass" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="warehousestep3">Warehouse Storage</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="smartboxstep3">Portable Storage</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="sitstep3">Storage In Transit</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="movesinglestep3">Move a Single Item</button>
        </div>
    </div>
</fieldset>

<fieldset id="warehousestep3" data-contactformname="Warehouse Storage">
    <div class="form-top">
        <div class="form-top-left">
            <p>We'd like to contact you?</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-address-card" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-name">Name</label>
            <input type="text" name="form-name" placeholder="Your Name..." class="form-name form-control" id="form-warehouse-name">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-contact-number">Contact Number</label>
            <input type="text" name="form-contact-number" placeholder="Phone Number..." class="form-contact-number form-control" id="form-warehouse-contact-number" data-validate="phone">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-email-address">Email Address</label>
            <input type="text" name="form-email-address" placeholder="Email Address..." class="form-email-address form-control" id="form-warehouse-email-address" data-validate="email">
        </div>
        <button type="submit" class="btn btn-form" data-next="wellcontact">Confirm Contact Info</button>
    </div>
</fieldset>

<fieldset id="sitstep3" data-contactformname="Storage In Transit">
    <div class="form-top">
        <div class="form-top-left">
            <p>We'd like to contact you?</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-address-card" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-name">Name</label>
            <input type="text" name="form-name" placeholder="Your Name..." class="form-name form-control" id="form-sit-name">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-contact-number">Contact Number</label>
            <input type="text" name="form-contact-number" placeholder="Phone Number..." class="form-contact-number form-control" id="form-sit-contact-number" data-validate="phone">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-email-address">Email Address</label>
            <input type="text" name="form-email-address" placeholder="Email Address..." class="form-email-address form-control" id="form-sit-email-address" data-validate="email">
        </div>
        <button type="submit" class="btn btn-form" data-next="wellcontact">Confirm Contact Info</button>
    </div>
</fieldset>

<fieldset id="movesinglestep3" data-contactformname="Move A Single Item">
    <div class="form-top">
        <div class="form-top-left">
            <p>We'd like to contact you?</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-address-card" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-name">Name</label>
            <input type="text" name="form-name" placeholder="Your Name..." class="form-name form-control" id="form-singleitem-name">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-contact-number">Contact Number</label>
            <input type="text" name="form-contact-number" placeholder="Phone Number..." class="form-contact-number form-control" id="form-singleitem-contact-number" data-validate="phone">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-email-address">Email Address</label>
            <input type="text" name="form-email-address" placeholder="Email Address..." class="form-email-address form-control" id="form-singleitem-email-address" data-validate="email">
        </div>
        <button type="submit" class="btn btn-form" data-next="wellcontact">Confirm Contact Info</button>
    </div>
</fieldset>

<fieldset id="ballparkorquote">
    <div class="form-top">
        <div class="form-top-left">
            <p>What type of price information do you want?</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-building" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="estimater">Do you want a ballpark estimate?</button>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="gatherAddress">Do you want an exact quote?</button>
        </div>
    </div>
</fieldset>

<fieldset id="estimater">
    <div class="form-top">
        <div class="form-top-left">
            <p>Ballpark estimates are based on transportation only, packing not included. Please choose your amount of furnishings below:</p>
        </div>
        <div class="form-top-right" id="testtrigger">
            <i class="fas fa-arrows-alt-h" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <div id="estimationSpinner">
                <img class="center-block" src="/images/ajax-loader.gif" style="width: 1.5em;" />
                <p class="text-center" id="estimationSpinnerDescription">Please wait while we retrieve your quote.</p>
            </div>
            <div id="estimationInfo"></div>
        </div>
       <div id="homie-text-interstate">
            <p><strong style="font-weight: 600;padding-top:25px;text-align:center">Are you interested in getting your move paid for by Homie?</strong></p>
            <p>Customers who use Homie for real estate are eligible to get paid moving expenses. Use Homie Real Estate and Homie Loans to buy a home and receive up to $2,500 in moving services with Bailey's Moving & Storage.</p>
        </div>
        <div class="form-group" style="padding-top: 25px;">

            <a type="button" class="btn homie_c2a btn-form" id="homie-button-interstate">
                <input id="homie-checkbox-interstate" type="checkbox" style="height: 1.5em;width: 1.5em;vertical-align: middle;margin-bottom: 5px;">
                 Yes! I want information about <img class="homie_svg" src="/images/Homie-Logo-White.svg" alt="Homie Logo"/>
            </a>
                        <button type="button" style="margin-top:20px" class="btn btn-form" data-next="gatherAddress">
                Proceed to an Exact Quote <i class="fas fa-arrow-right" aria-hidden="true"></i>
            </button>
        </div>
    </div>
</fieldset>

<fieldset id="yemboPrompt">
    <div class="form-top">
            <h3 style="font-weight:600">This move qualifies for a Fast, Easy Virtual Survey!</h3>
            <p>It works like this:</p>
            <ol>
                <li>We send you a link to your phone. </li>
                <li>Open that link and go through the interactive form to send us video of each room. </li>
                <li>Our AI engine analyzes the contents of your room and prepares an estimate of what needs to be moved.</li>
            </ol>
            <p style="font-weight:600">Most customers can complete this in 15 minutes or less.</p>
            <p> All you have to do is film each room!</p>
            <a style="text-decoration: underline;cursor: pointer;" data-featherlight="https://baileysblogstorage.blob.core.windows.net/blog-images/226ae1-Yembo%20User%20Guide%208-30-19.png"><i class="fas fa-info-circle"></i> Show Me How This Works</a>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="yemboConfirmed">Let's do a virtual survey!</button>
        </div>
        <div class="form-group">
            <button style="background:grey;white-space: normal !important;height: auto !important;" type="button" class="btn btn-form" data-next="gatherAddress">I want someone to come to my home instead <i class="fas fa-arrow-right" aria-hidden="true"></i></button>
        </div>
    </div>
</fieldset>

<fieldset id="gatherAddress">
    <div class="form-top">
        <div class="form-top-left">
            <p>Please provide your street address for your appointment</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-address-card" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <label class="sr-only" for="form-origin-address">Origin Street Address</label>
            <input type="text" name="form-origin-address" placeholder="Origin Street Address..." class="form-origin-address form-control" id="form-origin-address" data-validate="address">
        </div>
        <div class="form-group">
            <label class="sr-only" for="form-destination-address">Destination Street Address</label>
            <input type="text" name="form-destination-address" placeholder="Destination Street Address..." class="form-destination-address form-control" id="form-destination-address" data-validate="address">
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="bookappointment">Continue to book your appointment <i class="fas fa-long-arrow-alt-right " aria-hidden="true"></i></button>
        </div>
    </div>
</fieldset>

<fieldset id="bookappointment">
    <div class="form-top">
        <div class="form-top-left">
            <p>Lets book your appointment</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <div id="appointmentSpinner">
                <img class="center-block" src="/images/ajax-loader.gif" style="width: 1.5em;" />
                <p class="text-center">Please wait while we retrieve open appointment time slots</p>
            </div>
            <div id="appointmentSuggestions"></div>
        </div>
        <div class="form-group">
            <button type="button" class="btn btn-form" data-next="appointmentcalendar">These times don't work for me</button>
        </div>
    </div>
</fieldset>

<fieldset id="appointmentcalendar">
    <div class="form-top">
        <div class="form-top-left">
            <p>Pick a date to see all available appointments</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <div id="appointmentdatepicker">
            </div>
        </div>
        <div id="appointmentCalendarSuggestions">
            <h4 class="text-center">
                <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i>
                Please click a date to see the available appointments <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i>
            </h4>
        </div>
        <div class="form-group" id="needAptNotListed">
            <button type="button" class="btn btn-form" data-next="assumedApptCalendar">I need a time that's not listed <i class="fas fa-long-arrow-alt-right " aria-hidden="true"></i></button>
        </div>
    </div>
</fieldset>

<fieldset id="assumedApptCalendar" data-contactformname="Assumed Appointment Calendar">
    <div class="form-top">
        <div class="form-top-left">
            <p>Pick a date and time for your desired appointment</p>
        </div>
        <div class="form-top-right">
            <i class="far fa-calendar" aria-hidden="true"></i>
        </div>
    </div>
    <div class="form-bottom">
        <div class="form-group">
            <div id="assumedAppointmentdatepicker">
            </div>
        </div>
        <div class="form-group">
            <div>
                <h4 class="text-center">
                    <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i>
                    Make sure to select a time before confirming <i class="fas fa-long-arrow-alt-up" aria-hidden="true"></i>
                </h4>
            </div>
            <button type="button" class="btn btn-form" id="assumedApptConfirm">Confirm this appointment</button>
        </div>
    </div>
</fieldset>

<fieldset id="wellcontact">
    <div class="form-top">
    <h3 class="text-center">&nbsp;</h3>
        <div style="position: relative; padding-top: 56.25%;"><iframe src="https://iframe.videodelivery.net/c652e0acdb30a67cbf19b0e64ed79d3e?poster=https%3A%2F%2Fvideodelivery.net%2Fc652e0acdb30a67cbf19b0e64ed79d3e%2Fthumbnails%2Fthumbnail.gif%3Ftime%3D2s%26height%3D270%26duration%3D3s" style="border: none; position: absolute; top: 0; height: 100%; width: 100%;"  allow="accelerometer; gyroscope; autoplay; encrypted-media; picture-in-picture;" allowfullscreen="true"></iframe></div>
    </div>
    <div class="form-bottom">
        <p class="text-center">We will reach out to you about your move soon!</p>
        <p class="text-center">Check out our learning center for more resources, or give us a call at any time.</p>
    </div>
</fieldset>

<fieldset id="wellcontactYembo">
    <div class="form-top">
        <div class="form-top-left">
            <p style="font-weight:600">We Got it!</p>
            <p>We'll contact you via the information you provided.</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-envelope-open-text"></i>
        </div>
    </div>
    <div class="form-bottom">
        <p>Check your email for the next steps. If nothing arrives within 30 minutes, please give us a call at (888) 260-5717</p>
    </div>
</fieldset>

<fieldset id="wellcontactHomie">
    <div class="form-top">
        <div class="form-top-left">
            <p style="font-weight:600">We Got it!</p>
            <p>We'll contact you via the information you provided.</p>
        </div>
        <div class="form-top-right">
            <i class="fas fa-envelope-open-text"></i>
        </div>
    </div>
    <div class="form-bottom">
        <p>Because you asked for information about Homie, hang on and we'll redirect you there! We've also sent you an email with more information as well.</p>
    </div>
</fieldset>