﻿@{
    Layout = null;
}
<div id="moveeasycontrol"></div>
<script>
    // https://stackoverflow.com/a/12302790
    window.store = {
        localStoreSupport: function () {
            var testKey = 'test', storage = window.localStorage;
            try {
                storage.setItem(testKey, '1');
                storage.removeItem(testKey);
                return true;
            } catch (error) {
                return false;
            }
        },
        set: function (name, value, days) {
            var expires;
            if (days) {
                var date = new Date();
                date.setTime(date.getTime() + days * 24 * 60 * 60 * 1000);
                expires = "; expires=" + date.toGMTString();
            } else {
                expires = "";
            }
            if (this.localStoreSupport()) {
                localStorage.setItem(name, value);
            } else {
                document.cookie = name + "=" + value + expires + "; path=/";
            }
        },
        get: function (name) {
            if (this.localStoreSupport()) {
                var ret = localStorage.getItem(name);
                //console.log(typeof ret);
                switch (ret) {
                    case 'true':
                        return true;
                    case 'false':
                        return false;
                    default:
                        return ret;
                }
            } else {
                var nameEQ = name + "=";
                var ca = document.cookie.split(';');
                for (var i = 0; i < ca.length; i++) {
                    var c = ca[i];
                    while (c.charAt(0) == ' ') c = c.substring(1, c.length);
                    if (c.indexOf(nameEQ) == 0) {
                        ret = c.substring(nameEQ.length, c.length);
                        switch (ret) {
                            case 'true':
                                return true;
                            case 'false':
                                return false;
                            default:
                                return ret;
                        }
                    }
                }
                return null;
            }
        },
        del: function (name) {
            if (this.localStoreSupport()) {
                localStorage.removeItem(name);
            } else {
                this.set(name, "", -1);
            }
        }
    };


    document.addEventListener('DOMContentLoaded', function(event) {
        // Populate values from previous fields to build iframe
        var api_url = "https://baileysallied.moveeasy.com/move/iframe_inventory";
        var iframe_url = "" +
            api_url +
            "?name=" +
            store.get('meName') +
            "&email=" +
            store.get('meEmail') +
            "&move_size=" +
            store.get('meMoveSize') +
            "&move_date=" +
            store.get('meMoveDate') +
            "&zip_from=" +
            store.get('meOriginZip') +
            "&zip_to=" +
            store.get('meDestinationZip') +
            "&phone=" +
            store.get('mePhone') +
            "&preference=Email";
        iframe_url = iframe_url.replace(" ", "+");
        document.querySelector("#moveeasycontrol").innerHTML = '<iframe src="' +
            iframe_url +
            '" style="width:100%; height:1500px; min-width:320px;" frameborder="0"></iframe>';
    });
</script>