﻿
@{
    Layout = "_FormLayoutLocal";
    ViewData["Title"] = "Quote your Local Move";
}

<fieldset id="moveeasy">
    <div class="form-bottom">
        <div id="moveeasycontrol"></div>
    </div>
</fieldset>