﻿@model WebLeadFunnel.Models.LocalQuoteResult

@if (Model != null)
{

    <ul class="nav nav-pills nav-justified">
        <li role="presentation"><a href="#notmuchTab" data-toggle="pill">Lightly Furnished</a></li>
        <li role="presentation" class="active"><a href="#averageTab" data-toggle="pill">Average Furnishing</a></li>
        <li role="presentation"><a href="#alotTab" data-toggle="pill">Heavy Furnishing</a></li>
    </ul>

    <div class="tab-content">
        <div id="notmuchTab" class="tab-pane fade">
            <h3 class="text-center">≈ $@Model.Low.Rate</h3>
        </div>
        <div id="averageTab" class="tab-pane fade in active">
            <h3 class="text-center">≈ $@Model.Mid.Rate</h3>
        </div>
        <div id="alotTab" class="tab-pane fade">
            <h3 class="text-center">≈ $@Model.High.Rate</h3>
        </div>
    </div>
}
else
{
    <span>There was an error when attempting to retrieve a quote, please continue as an estimator will be able to service your request.</span>
}