﻿
@{
    Layout = "_FormLayout";
    ViewData["Title"] = "Online Moving Quote - Bailey's Moving";
}

<script src="//use.typekit.net/sun8veh.js"></script>
<style>
    .SBnext .a {
        color: white !important;
        text-decoration: none;
    }

    #SBquote {
        width: 100%;
        min-height: 400px;
        overflow: hidden;
    }

    #SBcontainer {
        margin: auto;
        max-width: 1000px;
    }

    .SBbutton {
        font: bold 17px/17px myriad-pro-condensed, 'Arial Narrow', Helvetica, sans-serif;
        display: inline-block;
        width: auto;
        height: auto;
        vertical-align: top;
        margin: 0;
        padding: 10px 20px;
        border: none;
        border-left: solid 10px #990e24;
        -moz-border-radius: 0;
        -webkit-border-radius: 0;
        border-radius: 0;
        -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.27);
        -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.27);
        box-shadow: 0 3px 3px rgba(0, 0, 0, 0.27);
        background: #e31837;
        color: #fff;
        font-size: 18px;
        line-height: normal;
        letter-spacing: 0;
        text-align: center;
        text-decoration: none;
        text-shadow: 0 1px 1px rgba(58, 48, 22, 0.51);
        text-transform: uppercase;
        cursor: pointer;
        color: white;
    }

        .SBbutton.a {
            color: white !important;
        }

    .SBbuttonWrapper {
        text-align: center;
    }
</style>
<script type="application/javascript">
    function openChatWindow() {
        var chatWindowURL = "https://home-c20.incontact.com/inContact/ChatClient/ChatClient.aspx?poc=7e845b3d-ee56-402b-bd57-416618bca306&bu=4596017";
        var chatWindowName = "Chat";
        var chatWindowOptions = "toolbar=0,scrollbars=1,location=1,statusbar=0,menubar=0,resizable=0,width=500,height=600";
        window.open(chatWindowURL, "newwindow", chatWindowOptions);
    }

    function setIframeHeight(newHeight) {
        if (newHeight != undefined){
            var iframe = document.getElementById('SBquote');
            iframe.height = newHeight;
        }

    }
    window.onload = function () {

        function receiveMessage(e){
           setIframeHeight(e.data);
        }

        window.addEventListener('message', receiveMessage);
    };
</script>
<h5 style="color:white">Please make sure any third party cookie blocking or ad blocking is disabled for this page if you are unable to see the widget below.</h5>
<h5 style="color:white">If not displaying properly, <a href="http://www.smartboxmovingandstorage.com/free-quote">click here to visit the page directly</a></h5>
<div id="SBcontainer">
    <iframe id="SBquote" src="@ViewData["TokenUrl"]" frameborder="0" scrolling="no"></iframe>

    <div class="SBbuttonWrapper">
        <span class="SBnext SBbutton SBgiant SBleft">
            <a href="javascript:void(0)" onclick="openChatWindow()" style="color:white; text-decoration: none;">Open chat</a>

        </span>
    </div>
</div>
