.bootstrap-datetimepicker-widget table td.disabled, .bootstrap-datetimepicker-widget table td.disabled:hover {
    text-decoration: line-through;
}
.alert {
    padding-top: 5px;
    padding-bottom: 5px;
}
form .form-bottom .input-error {
    border: 2px solid red;
}

/* Add space for our wider logo */
.navbar-brand {
    width: 142px;
}

.homie_c2a {
    display: none; /* Take out to show button */
    background: #58dbc2;
    margin: 10px 0px 0px 0px;
    padding: 0 20px;
    vertical-align: middle;
    border: 0;
    font-family: Arial, sans-serif;
    font-size: 12px;
    font-weight: 300;
    line-height: 50px;
    color: #fff;
    border-radius: 4px;
    text-shadow: none;
    box-shadow: none;
    width: 100%;
    display: inline-block;
    overflow-wrap: break-word;
    height: 100%;
}

.homie_c2a:hover {
    color:#fff !important;
}

@media (min-width: 992px) {
    .homie_c2a {
        background: #58dbc2;
        margin: 10px 0px 0px 0px;
        padding: 0 20px;
        vertical-align: middle;
        border: 0;
        font-family: Arial, sans-serif;
        font-size: 16px;
        font-weight: 300;
        line-height: 50px;
        color: #fff;
        border-radius: 4px;
        text-shadow: none;
        box-shadow: none;
        width: 100%;
        display: inline-block;
        overflow-wrap: break-word;
        height: 100%;
}
    }

.homie_svg {
    height: 1.5em;
    display: inline-block;
    vertical-align: middle;
    margin-bottom:5px;
}